@model StoreFrontLab.DATA.EF.ProductStatus

@{
    ViewBag.Title = "Deleting: "+Model.StatusName;
}
<div class="offset-lg-2 col-lg-8 order-md-1 order-1">
    <h2>@ViewBag.Title</h2>
    <br />
    <h3>Are you sure you want to delete the @Model.StatusName status?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.StatusName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StatusName)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete @Model.StatusName" class="btn btn-danger pull-left" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-success pull-right" })
            </div>
        }
    </div>
</div>