@model IEnumerable<StoreFrontLab.DATA.EF.Product>

@{
    ViewBag.Title = "All Products";
}
<div class="offset-lg-2 col-lg-8 order-md-1 order-1">
    <h2>@ViewBag.Title</h2>
    <br />

    @if (User.IsInRole("Admin") || User.IsInRole("Support"))
    {
        <p>
            @Html.ActionLink("Add New Product", "Create")
        </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Description)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CalorieCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.IsOnSale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountPercentage)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductStatus.StatusName)
            </th>
            <th></th>
            @if (User.IsInRole("Admin"))
            {
                <th></th>
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.CalorieCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.IsOnSale)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountPercentage)
                    </td>*@
                <td>
                    @* Thumbnail img here *@
                    @*@Html.DisplayFor(modelItem => item.ProductImage)*@
                    <img src="~/Content/img/product/t_@item.ProductImage" title="@item.Name" alt="@item.Name Image" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductStatus.StatusName)
                </td>
                <td>
                    @Html.ActionLink("Modify Product", "Edit", new { id = item.ProductID }) |
                    @Html.ActionLink("Product Info", "Details", new { id = item.ProductID })
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>@Html.ActionLink("Delete", "Delete", new { id = item.ProductID }, new { @class = "btn btn-danger" })</td>
                }
            </tr>
        }

    </table>
</div>