@model StoreFrontLab.UI.MVC.Models.ApplicationUser

@{
    ViewBag.Title = Model.Email + " Details";
}
<div class="offset-lg-2 col-lg-8 order-md-1 order-1">
    <h2>@ViewBag.Title</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
        </dl>
    </div>
    <h4>List of roles for this user</h4>
    @if (ViewBag.RoleNames.Count == 0)
    {
        <hr />
        <p>No roles found for this user.</p>
    }

    <table class="table">

        @foreach (var item in ViewBag.RoleNames)
        {
            <tr>
                <td>
                    @item
                </td>
            </tr>
        }
    </table>
    <p>
        @Html.ActionLink("Modify User", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to Users", "Index")
    </p>
</div>


