<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="A virtual vending machine to get snacks delivered to your door within an hour!">
    <meta name="keywords" content="PLACEHOLDER FOR KEYWORDS">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title | Virtual Vending Machine</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/slicknav.min.css" type="text/css">
    @* DataTables.Net *@
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    @* JQueryUI *@
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/south-street/jquery-ui.css">

    @RenderSection("styles", required: false)

    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css">

    <link href="~/Content/CustomStyles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Hamburger Mobile Menu Begin -->
    <div class="hamburger__menu__overlay"></div>
    <div class="hamburger__menu__wrapper">
        <div class="hamburger__menu__logo">
            <a href="#"><img src="~/Content/img/VVMEstLogo.png" alt=""></a>
        </div>
        <div class="hamburger__menu__cart">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "ShoppingCart")">
                        <i class="fa fa-shopping-bag"></i>

                        @{
                            int? totalCount = (int?)Session["totalItems"];
                        }
                        @if (totalCount != null)
                        {
                            <span>
                                @totalCount
                            </span>
                        }

                    </a>
                </li>
            </ul>
            <div class="header__cart__price">
                item:
                <span>
                    @{
                        decimal? totalPrice = (decimal?)Session["totalPrice"];
                    }
                    @if (totalPrice != null)
                    {
                        @(string.Format($"{totalPrice:c}"));
                    }
                </span>
            </div>
        </div>
        <div class="hamburger__menu__widget">
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        <nav class="hamburger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="#">Vending</a></li>
                <li><a href="#">Shopping Cart</a></li>
                <li><a href="@Url.Action("About", "Home")">About Us</a></li>
                <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="//www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="//www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="//www.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="//www.pinterest.com" target="_blank"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="hamburger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                <li>Free 1-Hour express shipping for orders over $10</li>
            </ul>
        </div>
    </div>
    <!-- Hamburger Mobile Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header__top__left">
                            <ul>
                                <li><a href="@Url.Action("Contact", "Home")"><i class="fa fa-envelope"></i></a> staff@virtualvm.com</li>
                                <li class="site-orange-text">Free 1-Hour express shipping for Super Snacker Members!</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="//www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="//www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="//www.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a>
                                <a href="//www.pinterest.com" target="_blank"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__auth">
                                @Html.Partial("_LoginPartial")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="@Url.Action("Index", "Home")"><img src="~/Content/img/VVMEstLogo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li @*class="active"*@><a href="@Url.Action("Index", "Home")">Home</a></li>
                            @if (!Request.IsAuthenticated)
                            {
                                <li><a href="@Url.Action("Login", "Account")">Login or Register</a></li>
                            }
                            @if (Request.IsAuthenticated)
                            {
                                <li>
                                    <a href="@Url.Action("Index", "Products")">Vending Products</a>
                                    @if (User.IsInRole("Admin") || User.IsInRole("Support"))
                                    {
                                        <ul class="header__menu__dropdown">
                                            <li>@Html.ActionLink("Product Statuses", "Index", "ProductStatuses")</li>
                                            <li>@Html.ActionLink("Product Categories", "Index", "Categories")</li>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <li>@Html.ActionLink("Roles Admin", "Index", "RolesAdmin")</li>
                                                <li>@Html.ActionLink("Users Admin", "Index", "UsersAdmin")</li>
                                            }
                                        </ul>
                                    }
                                </li>
                                <li><a href="@Url.Action("About", "Home")">About Us</a></li>
                                <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                            }

                        </ul>
                    </nav>
                </div>
                <div class="col-lg-2">
                    <div class="header__cart">
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "ShoppingCart")">
                                    <i class="fa fa-shopping-bag"></i>
                                    @* totalCount is defined in hamburger menu *@
                                    @if (totalCount != null)
                                    {
                                        <span>
                                            @totalCount
                                        </span>
                                    }
                                </a>
                            </li>
                        </ul>
                        <div class="header__cart__price">
                            Cart Total:
                            <span>
                                @if (totalPrice != null)
                                {
                                    @(string.Format($"{totalPrice:c}"));
                                }
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hamburger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->

    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    @* Commentend out until working server side filtering/searching *@
                    @*<div class="hero__search">
                            <div class="hero__search__form">
                                <form action="#">
                                    <div class="hero__search__categories">
                                        Search Our Snacks
                                    </div>
                                    <input type="text" placeholder="Hungry? Thirsty? We got you covered.">
                                    <button type="submit" class="site-btn">SEARCH VVM</button>
                                </form>
                            </div>
                            <div class="hero__search__phone">
                                <div class="hero__search__phone__icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="hero__search__phone__text">
                                    <h5>1-816-555-4242</h5>
                                    <span>Support Availabe 24/7</span>
                                </div>
                            </div>
                        </div>*@
                    @RenderSection("heroBanner", false)
                </div>
            </div>
        </div>
    </section>

    <!-- Hero Section End -->
    <div id="MessageDisplay" class="row">
        <div class="col-md-10 col-md-offset-1" id="MessageContent">
        </div>
    </div>

    <div class="main-content">
        @RenderBody()
    </div>
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            @RenderSection("extraFooter", false)
            @* Extra footer is rendered on about page *@
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>

                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> <a href="sawyergobin.com">Sawyer Gobin</a> | All rights reserved
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="~/Content/img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <script src="~/Content/js/jquery.slicknav.js"></script>
    <script src="~/Content/js/mixitup.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/main.js"></script>

    @*<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>*@

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>

    @RenderSection("scripts", false)

    <script>
        //mobile menu: highlight selected navigation
        $('.hamburger__menu__nav ul li').each(function () {
            if ($(this).find('a').attr('href') == window.location.pathname) {
                $(this).addClass('active');
            }
        });
    </script>
    <script>
        //desktop menu: highlight selected navigation
        $('.header__menu ul li').each(function () {
            if ($(this).find('a').attr('href') == window.location.pathname) {
                $(this).addClass('active');
            }
        });
    </script>

</body>
</html>