@model StoreFrontLab.DATA.EF.Category

@{
    ViewBag.Title = Model.CategoryName+": Details";
}
<div class="offset-lg-2 col-lg-8 order-md-1 order-1">
    <h2>@ViewBag.Title</h2>
    <br />
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Modify Category", "Edit", new { id = Model.CategoryID }) |
        @Html.ActionLink("Back to Categories", "Index")
    </p>
</div>